@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  }

body,html{
  min-width:100%;
  min-height: 100vh;
  
}

body{
  background:url(https://assets.codepen.io/6060109/ZigZag.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 }



.panel{
  margin:70px 0;
  width: 90%;
  width: 350px;
  height: 650px;
  background-color: white;
  box-shadow: 0px 40px 40px -20px #3C7B61;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  
  
}

.panel.left{
  margin-right: -15px;
}
.panel.right{
margin-left: -15px;
}

.panel.left, .panel.right{
  height: 600px;
  z-index: 1;
}
.panel.center{
  z-index: 9;
  width: 370px;
}

#close-btn{
  position: absolute;
  top:10px;
  right:10px;
}
 
.inner-container{
  width: 100%;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  padding: 55px 40px;
 font-size: 14px;
 line-height: 26px
  font-family: 'Ubuntu';
  
}
.inner-container > img{
  width: 50%;
}
.inner-container > h3{
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 600;
  color: #2F463D;
  margin: 20px 0 10px;
  height: 60px;
}

.inner-container > p{
  color: #828282;
  font-weight: 400;
  font-family: ubuntu;
  line-height: 26px;

}
#menu-container{
  display: flex;
  align-items: center;
  background-color: #F0FFF5;
  border-radius:5px;
  margin:40px 0 20px;
}

.food-name-price{
   width: 50%;
  text-align: left;
  padding-left: 15px;
  font-family: Montserrat;
}

.food-name-price > h5{
  font-size: 14px;
  font-weight: 800;
  color:#2F463D;
}

.food-name-price >h6{
  color:#7A8F85;
  font-weight:500;
  line-height: 14px;
  margin-top:5px;
  font-size: 14px;
}

#menu-container a{
  color:#467A66;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Montserrat';
  
}
.all-btn{
padding: 15px 0;
width: 100%;
color: white;
border: none;
font-size: 15px;
font-weight: 700;
border-radius: 5px;
margin: 10px auto;
cursor: pointer;
transition: .3s ease all;
}
#all-btn{
  width: 100%;
  align-items: center;
  padding: 15px 0;
  
  color: white;
  background-color:;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  transition: .3s ease all;
 }

#ready-btn{
background-color:#46A67E;
box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
 
 }

#ready-btn:hover{
  opacity: .8;
  transition: .3s ease all;
  cursor: pointer;
}

.inactive-btn{
  background-color: #BDBDBD;
  box-shadow: 0px 20px 20px rgba(167, 167, 167, 0.2);
  position: absolute;
  transform: translateX(-50%);
  left:50%;
  bottom:22%;
  width: 80%;
}


.dots-ctr{
  display: flex;
  width: 15%;
  justify-content: space-between;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 6%;
}

.dot{
  width: 10px;
  height: 10px;
  border-radius:100%;
  background-color:#E0E0E0;
}

.dot.green{
  background-color: #67BD99;
}
  


 





.right, .left{
  display: none;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .right, .left{
  display: block;
}
  
}